@import '@/styles/Quan2um-variables.scss';
@import '@/styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item {
  display: flex;
  align-items: center;
}

.title {
  @include captions-4;
  margin-right: $elem-padding-8;
}

.value {
  @include captions-4;
  color: var(--font-primary);
}
