@import '@/styles/variables.module.scss';

.container {
  display: inline-block;
}

.content {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  @include captions-4();
  font-size: 14px;
}

.price {
  color: var(--red);
  margin-left: 2px;
}

.icon {
  path {
    stroke: var(--red);
  }
}

.up {
  .price {
    color: var(--green);
  }
  .icon {
    transform: rotate(180deg);
    path {
      stroke: var(--green);
    }
  }
}
